name: Continuous Integration # ワークフロー名

on: [push] #GitHub Actionのトリガーを設定

jobs:
  ci-docker: #ジョブ名
    runs-on: ubuntu-latest #実行環境(Ubuntuの最新版環境で実行)
    name: run docker in github action sample
    steps: #実行処理やコマンドを記述
      - name: git checkout my branch
        uses: actions/checkout@v2
      - name: docker run command
        run: docker run -t --rm python:3.7-alpine sh -c "echo hello"
